body {
  background: $black;
}

::selection {
  background-color: #83d4ff;
  color: $white;
}

input::placeholder {
  color: hsl(276, 100%, 89%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d191fb;
  border-radius: 10px;
  cursor: pointer;
}
